.header {
	padding-left: 0;
	cursor: default;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	
	button {
		height: 100%;
		width: 56px;
		
		mat-icon {
			height: 40px;
			width: 40px;
			font-size: 34px;
			line-height: 40px;
		}
	}
}

.sidenav {
	&-container {
		margin-top: 64px;
		
		@media (max-width: 599px) {
			margin-top: 56px;
		}
	}
	
	&-item {
		display: flex;
		justify-content: left;
		align-items: center;
		padding: 10px 20px;
		text-align: center;
		font-size: 18px;
		flex-direction: column;
		text-decoration: none;
		
		&:hover {
			background-color: #000;
			opacity: .8;
			text-decoration: none;
		}
		
		&.active {
			background-color: #e4e4e4;
			border-right: 3px solid #551a8b;
		}
		
		mat-icon {
			color: #000000;
			height: 40px;
			width: 40px;
			font-size: 40px;
			
			&:hover {
				color: #0056b3;
			}
		}
		
		div {
			color: #000;
			
			&:hover {
				color: #333;
			}
		}
	}
}

.spacer {
	flex: 1 1 auto;
}
