.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin: 0 !important;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
	background-color: #dcdcdc;
}

.app {
	margin: 0;
	padding: 0;
}

mat-sidenav {
	min-width: 200px;
}

.mat-sidenav-container {
	height: calc(100vh - 64px);
	
	@media (max-width: 599px) {
		height: calc(100vh - 56px);
	}
}

mat-grid-tile {
	background-color: #89b4d0;
}

